@model PAPERWALA.Models.SellerDTO

@{
    ViewBag.Title = "SellerChangePassword";
    Layout = "~/Views/Shared/_LayoutAdminMain.cshtml";
}


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


            $("#Password").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPassword")',
                dataType: 'json',
                data: { DistributorID: $("@Session["DistributorId"]").val()},

                success: function (DPassword) {
                    document.getElementById('Password').value = DPassword;
                },
                error: function (ex) {
                    alert('No Password Found For This Distributor Please Select Another Distributor');
                    document.getElementById('Password').value = 'Admin';
                }
            });
            return false;



    });

</script>
<script type="text/javascript">
        function CheckValidPassword()
        {
            let O = document.getElementById('OldPassword').value;

            let P = document.getElementById('Password').value;

            if (O===P)
            {
                document.getElementById('ErrorMessage').value = 'OLD PASSWORD IS CORRECT';
                document.getElementById("submit").disabled = false;
            }
            else
            {
                document.getElementById('ErrorMessage').value = 'OLD PASSWORD IS WRONG PLEASE TRY AGAIN';
                //$("#submit").attr("disabled", true);
                document.getElementById("submit").disabled = true;
            }



        }
</script>
<script type="text/javascript">
        function CheckConfirmPass()
        {
            let N = document.getElementById('NewPassword').value;

            let C = document.getElementById('ConfirmPassword').value;
            alert(C)
            if (N===C)
            {
                document.getElementById('ConfirmMessage').value = 'PASSWORD MATCH';
                document.getElementById("submit").disabled = false;
            }
            else
            {
                document.getElementById('ConfirmMessage').value = 'PASSWORD MISSMATCH';
                //$("#submit").attr("disabled", true);
                document.getElementById("submit").disabled = true;
            }



        }
</script>

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-edit bg-blue"></i>
                <div class="d-inline">
                    <h5>CHANGE PASSWORD</h5>
                    <span>You can change your own password for security purpose</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-8">
    @if (TempData["MessageRegistration"] != null)
            {
        <div class="alert  alert-success alert-dismissible" role="alert">
            @*<span class="badge badge-pill badge-success">Success</span>*@@TempData["MessageRegistration"]
            <button type="button" onclick="showSuccessToast()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h3>Seller Change Password</h3></div>
            <div class="card-body">
                <div class="forms-sample">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(model => model.OldPassword)
                                @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", @onchange = "CheckValidPassword()", @type = "Password" })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.ErrorMessage, new { @class = "form-control", @style = "border: solid 1px white;color: #0d5c69;font-size: large;" })
                            </div>

                            <div class="form-group col-lg-4">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "display:none;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(model => model.NewPassword)
                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @type = "Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(model => model.ConfirmPassword)
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "Password", @onchange = "CheckConfirmPass()" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.ConfirmMessage, new { @class = "form-control", @style = "border: solid 1px white;color: #0d5c69;font-size: large;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <button class="btn btn-warning" type="submit" id="submit" style="margin-top: 30px;" value="Create"><i class="ik ik-clipboard"></i> Submit </button>
                            </div>
                        </div>


                    }

                </div>



            </div>

            <div class="card-body">
                <div class="panel panel-default" id="divCreateItem">
                    @*@{Html.RenderAction("AddProductV","DistributorSale");}*@

                </div>

            </div>
            <div class="card-body">
                <div class="panel panel-default" id="divBindItem">
                    @*@{Html.RenderAction("AddProductV","DistributorSale");}*@

                </div>
            </div>
        </div>

    </div>
</div>
