@model PAPERWALA.Models.PaperAllocationDistributorDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminMain.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {

        $("#CityId").change(function () {

            $("#PaperId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPaper")',
                dataType: 'json',
                data: { CityId: $("#CityId").val() },
                success: function (plandata) {

                    $("#PaperId").append('<option value="' + "0" + '">' + "Select" + '</option>');

                    $.each(plandata, function (i, paper) {
                        $("#PaperId").append('<option value="' + paper.PapaerId + '">' + paper.PaperName + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Paper.' + ex);
                }
            });
            return false;
        })


    });

</script>
<script type="text/javascript">
    $(document).ready(function () { rebindPapers(); });
</script>

<script type="text/javascript">

    function rebindPapers() {

        if ('@ViewData["SelectedPaper"]' != '') {

            $("#CityId").val('@Model.CityId');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPaper")',
                dataType: 'json',
                data: {
                    CityId: $("#CityId").val()
                },
                success: function (plandata) {

                    $("#PaperId").append('<option value="' + "0" + '">' + "Select" + '</option>');

                    $.each(plandata, function (i, paper) {
                        $("#PaperId").append('<option value="' + paper.PapaerId + '">' + paper.PaperName + '</option>');
                    });

                    if ('@ViewData["SelectedPaper"]' != 0) {

                        $("#PaperId").val('@ViewData["SelectedPaper"]');
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve Paper.' + ex);
                }
            });
        }
    }
</script>


@*//  ***  Start From  ***   //*@

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-edit bg-blue"></i>
                <div class="d-inline">
                    <h5>Create Paper Allocate To Distributor </h5>
                    <span>You can Assign Paper for Distributor to handle Utility.</span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-lg-8">
    @if (TempData["MessageRegistration"] != null)
            {
        <div class="alert  alert-success alert-dismissible" role="alert">
            @*<span class="badge badge-pill badge-success">Success</span>*@@TempData["MessageRegistration"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="card-header"><h3>Paper Allocation For Distributor</h3></div>
            <div class="card-body">
                <div class="forms-sample">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(model => model.DistributorName)
                                @Html.DropDownListFor(model => model.DistributorId, new SelectList(Model.ListDistributor, "DistributorId", "DistributorName"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DistributorId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-lg-6">
                                @Html.LabelFor(model => model.PaperId)
                                @Html.DropDownListFor(model => model.PaperId, new SelectList(Model.ListPaper, "PaperId", "PaperName"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PaperId, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.CityId, new { @class = "form-control", @Value = Session["CityId"], @style = "display:none;" })
                            </div>

                           
                            
                        </div>

                      
                           


                            <div class="row">

                                <div class="form-group col-lg-6">
                                    <button class="btn btn-primary" style="margin-top:25px;" type="submit"><i class="ik ik-clipboard"></i> Submit Info</button>
                                    @Html.ActionLink("All Paper Allocated", "Details", "PaperAllocationDistributor", null, new { @class = "btn btn-success", @style = "margin-top:25px;" })
                                </div>
                                <div class="form-group col-lg-6">

                                  
                                </div><br />


                            </div>

                            }

                        </div>
            </div>
        </div>

    </div>
</div>
